.container {
    background: #064789;
    background: linear-gradient(279deg,rgba(6, 71, 137, 1) 61%, rgba(235, 242, 250, 1) 58%);
    height: 80vh;
    overflow: hidden;
    font-family:Verdana, Geneva, Tahoma, sans-serif;


    .heroSection {
        margin-left: 13%;
        display: flex;

        .introduction {
            margin-top: 5%;

            .hi {
                font-size: 25px;
                font-weight: 600;
            }

            .name {
                font-size: 40px;
                font-weight: 600;
                margin-bottom: 0;
                white-space: nowrap;
            }

            .title {
                margin-bottom: 5%;
                margin-top: 0;
                color: rgb(95, 93, 92);
                font-weight: 600;
                font-size: 18px;
            }
        }

        .linkIcons {
            display: flex;
            margin-top: 50%;
            cursor: pointer;
        }

        .linkIcons img:hover{
            transform: scale(1.2);
            transition: 300ms;
        }


        .linkIcons img {
            height: 60px;
            width: 60px;
        }

        .linkIcons img {
            margin-right: 25px;
        }
    }
}

.imageContainer {
    overflow: hidden;
    width: 100%;

    .headshot {
        position: relative;
        height: 950px;
        // float: right;
        bottom: 0vh;
        left: 45%;
    }
}

.summary {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    font-size: 17px;
    padding: 2% 13% 2% 13%;
    color: white;
    background-color: #427aa1;

    .motivation {
        font-size: 22px;
    }

    .motivationText {
        line-height: 25px;
    }
}
